@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right, #6a11cb, #2575fc);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.player-container {
    width: 350px;
    max-width: 90%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}


.track-art {
    width: 250px;
    height: 250px;
    border-radius: 15px;
    object-fit: cover;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.track-art.playing {
    transform: scale(1.05);
}


.track-info {
    text-align: center;
}

.track-name {
    font-size: 1.5rem;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 5px;
}

.track-artist {
    font-size: 1rem;
    font-weight: 400;
    color: #ccc;
}


.sliders-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seek-slider-group,
.volume-slider-group {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}


.seek-slider,
.volume-slider {
    -webkit-appearance: none; 
    appearance: none;
    width: 100%;
    height: 5px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    outline: none;
    transition: opacity 0.2s;
}

.seek-slider::-webkit-slider-thumb,
.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}


.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.prev-track-btn,
.playpause-track-btn,
.next-track-btn {
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    transition: transform 0.2s ease, color 0.2s ease;
}

.prev-track-btn:hover,
.playpause-track-btn:hover,
.next-track-btn:hover {
    color: #ddd;
    transform: scale(1.1);
}

.playpause-track-btn {
    font-size: 3rem; 
}


.app-title {
    font-size: 1.2rem;
    font-weight: 500;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-bottom: -10px; 
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}